{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Booking</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <body>
    <h1>Update Booking</h1>
    <form method="POST">
      {% csrf_token %}
      <h3>Step 1: Edit Details</h3>

      {{form.as_p}}

      <button type="submit">Find New Spot</button>

  </body>
</html>
  </body>
</html>