{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Booking</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <body>
    <h1>Update Booking</h1>
    <h3>Step 2: Select New Parking Spot</h3>
    <form method="POST">
      {% csrf_token %}

        {{form.as_p}}

        <button type="submit">Update Booking</button>
    </form>

  </body>
</html>
  </body>
</html>