{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park'n Home</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <body>
    <h1>Welcome to Park'n</h1>

    <!-- For testing REMOVE LATER-->
    <h2>Users</h2>
    <ol>
      {% for user in users %}
      <li>
        {{user}}
        <ul>
          {% for booking in bookings %} {% if booking.user == user %}
          <li>{{ booking }}</li>
          {% endif %} {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ol>
    <!-- For testing REMOVE LATER-->
    
    {% comment %} Add visual element here and show live updates to parking spots in zones {% endcomment %}

    <button onclick="location.href='{% url 'createBooking' %}'">
      Create Booking
    </button>
    <button onclick="location.href='{% url 'viewBookings' %}'">
      View Bookings
    </button>
    {% comment %}
    <button onclick="location.href='{% url 'updateBooking' %}'">
      Update Booking
    </button>
    {% endcomment %}
    <br />
    <button onclick="location.href='{% url 'logout' %}'">Logout</button>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
